th,td{
    padding: 0.4em 1em;
 }

 .HoursTable{
    height: 200px;
    width: 200px;
    background-color:  rgb(0 169 206 / 31%);
    border-radius: 10px
 }
 .ProgressBar{
    width: 200px;
    height: 200px;

 }
 .resultTable{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
 }
 .tableRowResults{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

@media only screen and (max-width: 500px) {
    
    .HoursTable{
        height: 150px;
        width: 150px;
        padding: 0
    }   

    .ProgressBar{
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
    }
    .progText .hourText{
        width: 150px;
        height: 150px;
    }
    .progdiv{
      height: 230px;
    }
    .tableRowResults{
        flex-direction: column;
    }
 }

